@using BookReader.Models
@model BookReader.Models.Book

@{
    ViewBag.Title = "Create";
}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Добавить новую книгу</h4>
                <hr />
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Авторы книги</b></div>
                    <div class="col-md-10">
                        @foreach (Author c in ViewBag.Authors)
                {
                            <input type="checkbox" name="selectedAuthors" value="@c.AuthorId"
                                   @*@(ViewBag.Authors ? "checked=\"checked\"" : "")*@ />@c.Name @c.Surname<br />
                        }


                        <div class="form-group">
                            @Html.ActionLink("Добавить автора", "Index", "Categories", null, new { @class = "btn btn-success " })
                        </div>
                    </div>
                </div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ImagePath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group">
                        <div class="editor-label">Add title image file</div>
                        <div class="editor-field">
                            <input type="file" name="imageFile" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ContentPath, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="form-group">
                        <div class="editor-label">Add pdf file</div>
                        <div class="editor-field">
                            <input type="file" name="contentFile" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.language, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.language, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.language, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label col-md-2"><b>Категории книги</b></div>
                    <div class="col-md-10">
                        @foreach (Category c in ViewBag.Categories)
                {
                            <input type="checkbox" name="selectedCategories" value="@c.CategoryId"
                                   @*@(ViewBag.Authors ? "checked=\"checked\"" : "")*@ />@c.Name<br />
                        }

                        <div class="form-group">
                            @Html.ActionLink("Добавить категорию", "Index", "Categories", null, new { @class = "btn btn-success" })
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Добавить" class="btn btn-success" />
                        </div>
                    </div>
                </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
    <div class="col-md-1"></div>
</div>